<form  style="text-align: center;" #form="ngForm" (submit)="onButtonClick(form)">
    <input type="hidden" ngModel name="timeId" [value]="service.formData.timeId">
    <div class="form-group" style="margin-top: 70px;">
        <label style="margin: 10px;">Project Name</label>
        <input class="form-contorl form-control-lg" placeholder="Project Name"
        ngModel name="projectName" #projectName="ngModel" [(ngModel)]="service.formData.projectName">
        <div>
            <!-- <label style="margin: 22px;">Start Time</label> -->
            <input type="hidden" class="form-contorl form-control-lg" placeholder="Start Time"
            ngModel name="startTime" #startTime="ngModel" [(ngModel)]="service.formData.startTime">
        </div>
<div>
    <!-- <label type="hidden" style="margin: 22px;">Stop Time</label> -->
    <input type="hidden" class="form-contorl form-control-lg" placeholder="Stop time"
    ngModel name="stopTime" #stopTime="ngModel" [(ngModel)]="service.formData.stopTime">
</div>
<div>
    <!-- <label style="margin: 28px;">Duration</label> -->
    <input type="hidden" class="form-contorl form-control-lg" placeholder="duration"
    ngModel name="duration" #stopTime="ngModel" [(ngModel)]="service.formData.duration">
</div>
    </div>
    <div class="form-group">
        <button  class="btn btn-info btn-lg btn-block" type="submit" style="margin-top: 40px; margin-right: 120px;">Start Time</button>
        <button  (click)="patchstoptime(form)"class="btn btn-info btn-lg btn-block" style="margin-top: 40px;">Stop Time</button>
    </div>
</form>
